#textdomain wesnoth-sxc

#define SXC_ABILITY_DAUNTLESS
  [resistance]
    id=sxc_dauntless
    name= _ "dauntless"
    description= _ "Dauntless:
While attacking, this unit's resistances are doubled, up to a maximum of 50. Weaknesses are not affected."
    name_inactive= _ "dauntless"
    description_inactive= _ "Dauntless:
While attacking, this unit's resistances are doubled, up to a maximum of 50. Weaknesses are not affected."
    multiply=2
    max_value=150
    apply_to=blade,pierce,impact,fire,cold,arcane
    [filter_base_value]
      greater_than=0
      less_than_equal_to=25
    [/filter_base_value]
    affect_self=yes
    active_on=offense
  [/resistance]
  [resistance]
    id=sxc_dauntless
    value=50
    max_value=150
    apply_to=blade,pierce,impact,fire,cold,arcane
    [filter_base_value]
      greater_than=25
      less_than=50
    [/filter_base_value]
    affect_self=yes
    active_on=offense
  [/resistance]
#enddef

#define SXC_ABILITY_LEADERSHIP
  [leadership]
    id=sxc_leadership
    value=100
    cumulative=no
    name= _ "leadership"
    female_name= _ "female^leadership"
    description= _ "Leadership:
Adjacent alied units of lower level than 5 will cause more damage in battle. They will gain 20% of power per level difference from level 5:
LVL 0: gain 100%
LVL 1: gain 80%
LVL 2: gain 60%
LVL 3: gain 40%
LVL 4: gain 20%"
    affect_self=no
    affect_allies=yes
    affect_enemies=no
    [affect_adjacent]
      adjacent=n,ne,se,s,sw,nw
      [filter]
        level=0
      [/filter]
    [/affect_adjacent]
  [/leadership]
  [leadership]
    id=sxc_leadership
    value=80
    cumulative=no
    affect_self=no
    affect_allies=yes
    affect_enemies=no
    [affect_adjacent]
      adjacent=n,ne,se,s,sw,nw
      [filter]
        level=1
      [/filter]
    [/affect_adjacent]
  [/leadership]
  [leadership]
    id=sxc_leadership
    value=60
    cumulative=no
    affect_self=no
    affect_allies=yes
    affect_enemies=no
    [affect_adjacent]
      adjacent=n,ne,se,s,sw,nw
      [filter]
        level=2
      [/filter]
    [/affect_adjacent]
  [/leadership]
  [leadership]
    id=sxc_leadership
    value=40
    cumulative=no
    affect_self=no
    affect_allies=yes
    affect_enemies=no
    [affect_adjacent]
      adjacent=n,ne,se,s,sw,nw
      [filter]
        level=3
      [/filter]
    [/affect_adjacent]
  [/leadership]
  [leadership]
    id=sxc_leadership
    value=20
    cumulative=no
    affect_self=no
    affect_allies=yes
    affect_enemies=no
    [affect_adjacent]
      adjacent=n,ne,se,s,sw,nw
      [filter]
        level=4
      [/filter]
    [/affect_adjacent]
  [/leadership]
  [leadership]
    id=sxc_leadership
    value=20
    cumulative=no
    affect_self=yes
    affect_allies=no
    affect_enemies=no
  [/leadership]
#enddef

#define SXC_ABILITY_MEGACURES
  [heals]
    affect_allies=yes
    id=sxc_megacures
    name= _ "megacures"
    female_name= _ "female^megacures"
    description= _ "Megacures:
This unit combines herbal remedies with strong magic to heal units much more quickly than is normally possible on the battlefield.
A unit cared for by this healer may heal up to 16% of healer's maximum HP per turn, or he can cure poison instead of healing if unit is poisoned."
    affect_self=no
    poison=cured
    value=8
    [affect_adjacent]
      adjacent=n,ne,se,s,sw,nw
    [/affect_adjacent]
  [/heals]
#enddef

#define SXC_ABILITY_MEGACURES_EVENT
  [event]
    name=side turn
    first_time_only=no
    [store_unit]
      [filter]
        side=$side_number
        canrecruit=yes
        ability=sxc_megacures
      [/filter]
      variable=mc
    [/store_unit]
    {VARIABLE a_idx 0}
    [while]
      {SXC_CMP a_idx less_than $mc.abilities.length}
      [do]
        {VARIABLE h_idx 0}
        [while]
          {SXC_CMP h_idx less_than $mc.abilities[$a_idx|].heals.length}
          [do]
            [if]
              {SXC_CMP mc.abilities[$a_idx|].heals[$h_idx|].id equals sxc_megacures}
              [then]
                {VARIABLE mc.abilities[$a_idx|].heals[$h_idx|].value $mc.max_hitpoints}
                {VARIABLE_OP mc.abilities[$a_idx|].heals[$h_idx|].value multiply 0.16}
                {CLEAR_VARIABLE mc.status.slowed}
                [unstore_unit]
                  variable=mc
                [/unstore_unit]
              [/then]
            [/if]
            {VARIABLE_OP h_idx add 1}
          [/do]
        [/while]
        {VARIABLE_OP a_idx add 1}
        {CLEAR_VARIABLE h_idx}
      [/do]
    [/while]
    {CLEAR_VARIABLE a_idx}
    {CLEAR_VARIABLE mc}
  [/event]
#enddef

#define SXC_ABILITY_MINORCURES
  [heals]
    affect_allies=yes
    id=sxc_minorcures
    name= _ "minorcures"
    female_name= _ "female^minorcures"
    description= _ "Minorcures:
This unit combines herbal remedies with strong magic to heal units much more quickly than is normally possible on the battlefield.
A unit cared for by this healer may heal up to 8% of healer's maximum HP per turn, or he can cure poison instead of healing if unit is poisoned."
    affect_self=no
    poison=cured
    value=4
    [affect_adjacent]
      adjacent=n,ne,se,s,sw,nw
    [/affect_adjacent]
  [/heals]
#enddef

#define SXC_ABILITY_MINORCURES_EVENT
  [event]
    name=side turn
    first_time_only=no
    [store_unit]
      [filter]
        side=$side_number
        canrecruit=yes
        ability=sxc_minorcures
      [/filter]
      variable=mc
    [/store_unit]
    {VARIABLE a_idx 0}
    [while]
      {SXC_CMP a_idx less_than $mc.abilities.length}
      [do]
        {VARIABLE h_idx 0}
        [while]
          {SXC_CMP h_idx less_than $mc.abilities[$a_idx|].heals.length}
          [do]
            [if]
              {SXC_CMP mc.abilities[$a_idx|].heals[$h_idx|].id equals sxc_minorcures}
              [then]
                {VARIABLE mc.abilities[$a_idx|].heals[$h_idx|].value $mc.max_hitpoints}
                {VARIABLE_OP mc.abilities[$a_idx|].heals[$h_idx|].value multiply 0.08}
                {CLEAR_VARIABLE mc.status.slowed}
                [unstore_unit]
                  variable=mc
                [/unstore_unit]
              [/then]
            [/if]
            {VARIABLE_OP h_idx add 1}
          [/do]
        [/while]
        {VARIABLE_OP a_idx add 1}
        {CLEAR_VARIABLE h_idx}
      [/do]
    [/while]
    {CLEAR_VARIABLE a_idx}
    {CLEAR_VARIABLE mc}
  [/event]
#enddef

#define SXC_ABILITY_MEGAREGENERATES
  [regenerate]
    value=8
    id=sxc_megaregenerates
    name= _ "megaregenerates"
    description= _ "Megaregenerates:
This unit will heal itself 16% of maximum HP per turn. If this unit is poisoned, it will remove the poison instead of healing."
    affect_self=yes
    poison=cured
  [/regenerate]
#enddef

#define SXC_ABILITY_MEGAREGENERATES_EVENT
  [event]
    name=side turn
    first_time_only=no
    [store_unit]
      [filter]
        side=$side_number
        canrecruit=yes
        ability=sxc_megaregenerates
      [/filter]
      variable=mr
    [/store_unit]
    {VARIABLE a_idx 0}
    [while]
      {SXC_CMP a_idx less_than $mr.abilities.length}
      [do]
        {VARIABLE r_idx 0}
        [while]
          {SXC_CMP r_idx less_than $mr.abilities[$a_idx|].regenerate.length}
          [do]
            [if]
              {SXC_CMP mr.abilities[$a_idx|].regenerate[$r_idx|].id equals sxc_megaregenerates}
              [then]
                {VARIABLE mr.abilities[$a_idx|].regenerate[$r_idx|].value $mr.max_hitpoints}
                {VARIABLE_OP mr.abilities[$a_idx|].regenerate[$r_idx|].value multiply 0.16}
                {CLEAR_VARIABLE mr.status.slowed}
                {VARIABLE mr_hp $mr.health}
                [unstore_unit]
                  variable=mr
                [/unstore_unit]
              [/then]
            [/if]
            {VARIABLE_OP r_idx add 1}
          [/do]
        [/while]
        {VARIABLE_OP a_idx add 1}
        {CLEAR_VARIABLE r_idx}
      [/do]
    [/while]
    {CLEAR_VARIABLE a_idx}
    {CLEAR_VARIABLE mr}
  [/event]

  [event]
    name=turn refresh
    first_time_only=no
    [store_unit]
      [filter]
        side=$side_number
        canrecruit=yes
      [/filter]
      variable=mr
    [/store_unit]
    [if]
      {SXC_CMP mr.hitpoints less_than $mr_hp}
      [then]
        {VARIABLE mr.hitpoints $mr_hp}
        [unstore_unit]
          variable=mr
        [/unstore_unit]
      [/then]
    [/if]
    {CLEAR_VARIABLE mr_hp}
    {CLEAR_VARIABLE mr}
  [/event]
#enddef

#define SXC_ABILITY_SOULSTEALER
  [dummy]
    id=sxc_soulstealer
    name= _ "soulstealer"
    description=_ "Soulstealer:
This unit gains 1 hitpoint added to its maximum whenever it kills a unit."
  [/dummy]
#enddef

#define SXC_ABILITY_SOULSTEALER_EVENT
  [event]
    name=die
    first_time_only=no
    [filter_second]
      ability=soulstealer2
    [/filter_second]
    [unstore_unit]
      variable=second_unit
      {COLOR_HEAL}
      text=_ "+1 max. HP"
      find_vacant=no
    [/unstore_unit]
    [object]
      silent=yes
      duration=forever
      [filter]
        x,y=$x2,$y2
      [/filter]
      [effect]
        apply_to=hitpoints
        increase_total=1
        increase=1
        violate_maximum=yes
      [/effect]
    [/object]
  [/event]
#enddef

#define SXC_ABILITY_SPEEDY
  [dummy]
    id=sxc_speedy
    name= _ "speedy"
    description=_ "Speedy:
This unit gains +2 movement points at start of turn and also +1 movement point after it kills a unit."
  [/dummy]
#enddef

#define SXC_ABILITY_STEADFAST
  [resistance]
    id=sxc_steadfast
    multiply=2
    max_value=150
    apply_to=arcane,blade,cold,fire,impact,pierce
    [filter_base_value]
      greater_than=0
      less_than_equal_to=25
    [/filter_base_value]
    name= _ "steadfast"
    name_inactive= _ "steadfast"
    female_name= _ "female^steadfast"
    female_name_inactive= _ "female^steadfast"
    description_inactive= _ "Steadfast:
This unit's resistances are doubled, up to a maximum of 50%, when defending. Vulnerabilities are not affected."
    description= _ "Steadfast:
This unit's resistances are doubled, up to a maximum of 50%, when defending. Vulnerabilities are not affected."
    affect_self=yes
    active_on=defense
  [/resistance]
  [resistance]
    id=sxc_steadfast
    value=50
    max_value=150
    apply_to=arcane,blade,cold,fire,impact,pierce
    [filter_base_value]
      greater_than=25
      less_than_equal_to=50
    [/filter_base_value]
    affect_self=yes
    active_on=defense
  [/resistance]
#enddef

#define WEAPON_SPECIAL_SXC_BERSERK
  [berserk]
    id=sxc_berserk
    name= _ "berserk"
    description= _ "Berserk:
This attack special presses the engagement until one of the combatants is slain, or 30 rounds of attacks have occurred. This weapon special isn't activated on defense"
    value=30
    active_on=offense
  [/berserk]
#enddef

#define WEAPON_SPECIAL_SXC_EVADE
  [damage]
    id=sxc_evade
    name= _ "evade"
    name_inactive= _ "evade"
    description= _ "Evade:
This unit can evade enemy attack and takes one third less damage while using this weapon."
    description_inactive= _ "Evade:
This unit can evade enemy attack and takes one third less damage while using this weapon."
    multiply=0.66
    apply_to=opponent
  [/damage]
#enddef

#define WEAPON_SPECIAL_SXC_FOCUS
  [damage]
    id=sxc_focus
    name= _ "focus"
    description= _ "Focus:
When used offensively, this attack always has a 70% chance to hit and causes both the attacker and the defender to do 50% more damage than usual. This weapon special isn't activiated on defense."
    multiply=1.5
    apply_to=both
    active_on=offense
  [/damage]
  [chance_to_hit]
    id=sxc_focus
    value=70
    cumulative=no
    active_on=offense
  [/chance_to_hit]
#enddef

#define WEAPON_SPECIAL_SXC_PRECISION
  [chance_to_hit]
    id=sxc_precision
    name= _ "precision"
    description= _ "Precision:
This attack has always 80% chance to hit."
    value=80
    cumulative=no
  [/chance_to_hit]
#enddef

#define WEAPON_SPECIAL_SXC_RAGE
  [berserk]
    id=sxc_rage
    name= _ "rage"
    description= _ "Rage:
This attack special presses the engagement until one of the combatants is slain, or 3 rounds of attacks have occurred. This weapon special isn't activated on defense"
    value=3
    active_on=offense
  [/berserk]
#enddef

