#textdomain wesnoth-SXC
[unit_type]
  id=SXC Rune Artist
  name= _ "Rune Artist"
  race=dwarf
  image=units/ancient_dwarves/runeartist.png
  hitpoints=58
  movement_type=dwarvishfoot
  movement=4
  level=3
  alignment=neutral
  cost=18
  usage=mixed fighter
  experience=150
  advances_to=SXC Rune Master
  undead_variation=dwarf
  {MAGENTA_IS_THE_TEAM_COLOR}
  description= _ "."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}
  die_sound={SOUND_LIST:DWARF_DIE}
  {DEFENSE_ANIM "units/ancient_dwarves/runeartist-attack1.png" "units/ancient_dwarves/runeartist.png" {SOUND_LIST:DWARF_HIT} }
  [attack]
    name=hammer
    description= _ "runic hammer"
    type=impact
    [specials]
      {WEAPON_SPECIAL_MAGICAL}
    [/specials]
    range=melee
    damage=18
    number=2
    icon="attacks/runic-hammer.png"
  [/attack]
  [attack]
    name=runes
    description= _ "runes"
    type=fire
    [specials]
      {WEAPON_SPECIAL_MAGICAL}
    [/specials]
    range=ranged
    damage=9
    number=3
    icon="attacks/rune.png"
  [/attack]
  [attack]
    name=thunder
    description= _ "lightning bolt"
    type=fire
    range=ranged
    damage=38
    number=1
    icon="attacks/rune.png"
  [/attack]
  [attack_anim]
    [filter_attack]
      name=hammer
    [/filter_attack]
    [frame]
      begin=-200
      end=-100
      image=units/ancient_dwarves/runeartist-attack1.png
    [/frame]
    [if]
      hits=yes
      [frame]
        begin=-100
        end=0
        image=units/ancient_dwarves/runeartist-attack2.png
        sound=mace.wav
      [/frame]
    [/if]
    [else]
      hits=no
      [frame]
        begin=-100
        end=0
        image=units/ancient_dwarves/runeartist-attack2.png
        sound={SOUND_LIST:MISS}
      [/frame]
    [/else]
    [frame]
      begin=0
      end=100
      image=units/ancient_dwarves/runeartist-attack1.png
    [/frame]
  [/attack_anim]
  [attack_anim]
    [filter_attack]
      name=thunder
    [/filter_attack]
    [if]
      direction=ne,nw,n
      missile_start_time=-150
      [missile_frame]
        duration=250
        image="halo/magicgreat-n-1.png"
        image_diagonal="halo/magicgreat-ne-1.png"
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-1.png"
        offset=1.0
        sound=explosion.ogg
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-2.png"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-3.png"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-4.png"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-5.png"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-6.png"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-7.png"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-8.png"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-9.png"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-10.png"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-11.png"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-12.png"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-13.png"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-14.png"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-15.png"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-16.png"
        offset=1.0
      [/missile_frame]
    [/if]
    [else]
      direction=se,sw,s
      missile_start_time=-150
      [missile_frame]
        duration=250
        image="projectiles/lightning-n.png"
        image_diagonal="projectiles/lightning-ne.png"
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-1.png~FL(vert)"
        offset=1.0
        sound=explosion.ogg
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-2.png~FL(vert)"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-3.png~FL(vert)"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-4.png~FL(vert)"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-5.png~FL(vert)"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-6.png~FL(vert)"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-7.png~FL(vert)"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-8.png~FL(vert)"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-9.png~FL(vert)"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-10.png~FL(vert)"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-11.png~FL(vert)"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-12.png~FL(vert)"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-13.png~FL(vert)"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-14.png~FL(vert)"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-15.png~FL(vert)"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-16.png~FL(vert)"
        offset=1.0
      [/missile_frame]
    [/else]
    [frame]
      begin=-400
      end=-200
      image="units/ancient_dwarves/runeartist-attack1.png"
    [/frame]
    [frame]
      begin=-200
      end=-50
      image="units/ancient_dwarves/runeartist-attack2.png"
    [/frame]
    [frame]
      begin=-50
      end=50
      image="units/ancient_dwarves/runeartist-attack1.png"
    [/frame]
    [frame]
      begin=50
      end=150
      image="units/ancient_dwarves/runeartist.png"
    [/frame]
  [/attack_anim]
#define RUNE_ARTIST_RUNES DIR HALO_X HALO_Y
  [attack_anim]
    [filter_attack]
      name=runes
    [/filter_attack]
    [missile_frame]
      begin=-100
      end=0
      offset=1.0
    [/missile_frame]
    direction={DIR}
    [frame]
      begin=0
      end=150
      image="units/ancient_dwarves/runeartist-attack1.png"
      sound=magic-dark.ogg
      halo=halo/rune-a1.png,halo/rune-a2.png,halo/rune-a3.png,halo/rune-a4.png,halo/rune-a5.png
      halo_x,halo_y={HALO_X},{HALO_Y}
    [/frame]
  [/attack_anim]
  [attack_anim]
    [filter_attack]
      name=runes
    [/filter_attack]
    [missile_frame]
      begin=-100
      end=0
      offset=1.0
    [/missile_frame]
    direction={DIR}
    [frame]
      begin=0
      end=150
      image="units/ancient_dwarves/runeartist-attack1.png"
      sound=magic-dark.ogg
      halo=halo/rune-b1.png,halo/rune-b2.png,halo/rune-b3.png,halo/rune-b4.png,halo/rune-b5.png
      halo_x,halo_y={HALO_X},{HALO_Y}
    [/frame]
  [/attack_anim]
  [attack_anim]
    [filter_attack]
      name=runes
    [/filter_attack]
    [missile_frame]
      begin=-100
      end=0
      offset=1.0
    [/missile_frame]
    direction={DIR}
    [frame]
      begin=0
      end=150
      image="units/ancient_dwarves/runeartist-attack1.png"
      sound=magic-dark.ogg
      halo=halo/rune-c1.png,halo/rune-c2.png,halo/rune-c3.png,halo/rune-c4.png,halo/rune-c5.png
      halo_x,halo_y={HALO_X},{HALO_Y}
    [/frame]
  [/attack_anim]
  [attack_anim]
    [filter_attack]
      name=runes
    [/filter_attack]
    [missile_frame]
      begin=-100
      end=0
      offset=1.0
    [/missile_frame]
    direction={DIR}
    [frame]
      begin=0
      end=150
      image="units/ancient_dwarves/runeartist-attack1.png"
      sound=magic-dark.ogg
      halo=halo/rune-d1.png,halo/rune-d2.png,halo/rune-d3.png,halo/rune-d4.png,halo/rune-d5.png
      halo_x,halo_y={HALO_X},{HALO_Y}
    [/frame]
  [/attack_anim]
#enddef
# The three variations for the north direction:
  {RUNE_ARTIST_RUNES n 0 -72}
# The three variations for the south direction:
  {RUNE_ARTIST_RUNES s 0 72}
# And so on...
  {RUNE_ARTIST_RUNES se 54 36}
  {RUNE_ARTIST_RUNES sw 54 36}
  {RUNE_ARTIST_RUNES ne 54 -36}
  {RUNE_ARTIST_RUNES nw 54 -36}
[/unit_type]
