#textdomain wesnoth-SXC
[unit_type]
  id=SXC Steamcopter
  name= _ "Steamcopter"
  race=mechanical
  image="units/ancient_dwarves/steamcopter.png"
  hitpoints=45
  movement_type=fly
  movement=8
  experience=150
  level=2
  alignment=neutral
  advances_to=null
  {AMLA_DEFAULT}
  cost=27
  undead_variation=mounted
  usage=scout
  description= _ "With the aid of steam genies, Steamcopters are able to move faster and carry more bombs than Gyrocopters."
  get_hit_sound={SOUND_LIST:DWARF_HIT}
  die_sound={SOUND_LIST:DWARF_DIE}
  {DEFENSE_ANIM "units/ancient_dwarves/steamcopter2.png" "units/ancient_dwarves/steamcopter.png" silence.ogg }
  [resistance]
    blade=110
    pierce=80
    impact=100
    fire=120
    cold=100
    arcane=90
  [/resistance]
  [movement_costs]
    cave=100
    fungus=100
  [/movement_costs]
  [standing_anim]
    [frame]
      begin=0
      end=125
      image="units/ancient_dwarves/steamcopter.png"
    [/frame]
    [frame]
      begin=125
      end=250
      image="units/ancient_dwarves/steamcopter2.png"
    [/frame]
    [frame]
      begin=250
      end=375
      image="units/ancient_dwarves/steamcopter3.png"
    [/frame]
    [frame]
      begin=375
      end=500
      image="units/ancient_dwarves/steamcopter4.png"
    [/frame]
    [frame]
      begin=500
      end=625
      image="units/ancient_dwarves/steamcopter5.png"
    [/frame]
    [frame]
      begin=625
      end=750
      image="units/ancient_dwarves/steamcopter6.png"
    [/frame]
  [/standing_anim]
  [attack]
    name=bombs
    description= _ "bombs"
    icon=attacks/bomb.png
    type=fire
    range=ranged
    damage=8
    number=3
  [/attack]
  [attack_anim]
    [filter_attack]
      name=bombs
    [/filter_attack]
    [if]
      direction=ne,nw
      missile_start_time=-300
      [missile_frame]
        duration=300
        image="halo/bomb.png"
        image_diagonal="halo/bomb.png"
        offset=0.0~0.9
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-1.png"
        offset=1.0
        sound=explosion.ogg
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-2.png"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-3.png"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-4.png"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-5.png"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-6.png"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-7.png"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-8.png"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-9.png"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-10.png"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-11.png"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-12.png"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-13.png"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-14.png"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-15.png"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-16.png"
        offset=1.0
      [/missile_frame]
    [/if]
    [else]
      direction=se,sw
      missile_start_time=-300
      [missile_frame]
        duration=300
        image="halo/bomb.png"
        image_diagonal="halo/bomb.png"
        offset=0.0~0.9
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-1.png~FL(vert)"
        offset=1.0
        sound=explosion.ogg
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-2.png~FL(vert)"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-3.png~FL(vert)"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-4.png~FL(vert)"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-5.png~FL(vert)"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-6.png~FL(vert)"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-7.png~FL(vert)"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-8.png~FL(vert)"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-9.png~FL(vert)"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-10.png~FL(vert)"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-11.png~FL(vert)"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-12.png~FL(vert)"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-13.png~FL(vert)"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-14.png~FL(vert)"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-15.png~FL(vert)"
        offset=1.0
      [/missile_frame]
      [missile_frame]
        duration=60
        halo="projectiles/fireball-impact-16.png~FL(vert)"
        offset=1.0
      [/missile_frame]
    [/else]
    [frame]
      begin=0
      end=125
      image="units/ancient_dwarves/steamcopter.png"
    [/frame]
    [frame]
      begin=125
      end=250
      image="units/ancient_dwarves/steamcopter2.png"
    [/frame]
    [frame]
      begin=250
      end=375
      image="units/ancient_dwarves/steamcopter3.png"
    [/frame]
    [frame]
      begin=375
      end=500
      image="units/ancient_dwarves/steamcopter4.png"
    [/frame]
    [frame]
      begin=500
      end=625
      image="units/ancient_dwarves/steamcopter5.png"
    [/frame]
    [frame]
      begin=625
      end=750
      image="units/ancient_dwarves/steamcopter6.png"
    [/frame]
    [frame]
      begin=750
      end=875
      image="units/ancient_dwarves/steamcopter.png"
    [/frame]
    [frame]
      begin=875
      end=960
      image="units/ancient_dwarves/steamcopter2.png"
    [/frame]
  [/attack_anim]
  [death]
    missile_start_time=0
    [missile_frame]
      duration=60
      halo="projectiles/fireball-impact-1.png"
      offset=0.0
      sound=explosion.ogg
    [/missile_frame]
    [missile_frame]
      duration=60
      halo="projectiles/fireball-impact-2.png"
      offset=0.0
    [/missile_frame]
    [missile_frame]
      duration=60
      halo="projectiles/fireball-impact-3.png"
      offset=0.0
    [/missile_frame]
    [missile_frame]
      duration=60
      halo="projectiles/fireball-impact-4.png"
      offset=0.0
    [/missile_frame]
    [missile_frame]
      duration=60
      halo="projectiles/fireball-impact-5.png"
      offset=0.0
    [/missile_frame]
    [missile_frame]
      duration=60
      halo="projectiles/fireball-impact-6.png"
      offset=0.0
    [/missile_frame]
    [missile_frame]
      duration=60
      halo="projectiles/fireball-impact-7.png"
      offset=0.0
    [/missile_frame]
    [missile_frame]
      duration=60
      halo="projectiles/fireball-impact-8.png"
      offset=0.0
    [/missile_frame]
    [missile_frame]
      duration=60
      halo="projectiles/fireball-impact-9.png"
      offset=0.0
    [/missile_frame]
    [missile_frame]
      duration=60
      halo="projectiles/fireball-impact-10.png"
      offset=0.0
    [/missile_frame]
    [missile_frame]
      duration=60
      halo="projectiles/fireball-impact-11.png"
      offset=0.0
    [/missile_frame]
    [missile_frame]
      duration=60
      halo="projectiles/fireball-impact-12.png"
      offset=0.0
    [/missile_frame]
    [missile_frame]
      duration=60
      halo="projectiles/fireball-impact-13.png"
      offset=0.0
    [/missile_frame]
    [missile_frame]
      duration=60
      halo="projectiles/fireball-impact-14.png"
      offset=0.0
    [/missile_frame]
    [missile_frame]
      duration=60
      halo="projectiles/fireball-impact-15.png"
      offset=0.0
    [/missile_frame]
    [missile_frame]
      duration=60
      halo="projectiles/fireball-impact-16.png"
      offset=0.0
    [/missile_frame]
    [frame]
      begin=0
      end=125
      image="units/ancient_dwarves/steamcopter.png"
    [/frame]
    [frame]
      begin=125
      end=250
      image="units/ancient_dwarves/steamcopter2.png"
    [/frame]
    [frame]
      begin=250
      end=375
      image="units/ancient_dwarves/steamcopter3.png"
    [/frame]
    [frame]
      begin=375
      end=500
      image="units/ancient_dwarves/steamcopter4.png"
    [/frame]
    [frame]
      begin=500
      end=625
      image="units/ancient_dwarves/steamcopter5.png"
    [/frame]
    [frame]
      begin=625
      end=750
      image="units/ancient_dwarves/steamcopter6.png"
    [/frame]
    [frame]
      begin=750
      end=875
      image="units/ancient_dwarves/steamcopter.png"
    [/frame]
    [frame]
      begin=875
      end=960
      image="units/ancient_dwarves/steamcopter2.png"
    [/frame]
  [/death]
[/unit_type]
