#textdomain wesnoth-SXC
[unit_type]
  id=SXC Striding Machine
  name= _ "Striding Machine"
  race=mechanical
  image="units/ancient_dwarves/sm.png"
  {MAGENTA_IS_THE_TEAM_COLOR}
  ellipse="misc/ellipse"
  hitpoints=40
  movement_type=armoredfoot
  movement=5
  experience=80
  level=1
  alignment=neutral
  advances_to=SXC Dwarwish Tank,SXC Mechanical Monster
  cost=18
  usage=fighter
  description= _ "."
  {DEFENSE_ANIM_DIRECTIONAL "units/ancient_dwarves/sm.png" "units/ancient_dwarves/sm.png" "units/ancient_dwarves/sm-ne.png" "units/ancient_dwarves/sm-ne.png" {SOUND_LIST:DWARF_HIT} }
  [resistance]
    blade=60
    pierce=80
    impact=110
    fire=110
    cold=90
    arcane=70
  [/resistance]
  [death]
    [frame]
      begin=0
      end=40
      image="units/ancient_dwarves/sm-die1.png"
      halo=projectiles/fireball-impact-1.png
      halo_x,halo_y=-15,-10
      sound=explosion.ogg
    [/frame]
    [frame]
      begin=40
      end=80
      image="units/ancient_dwarves/sm-die1.png"
      halo=projectiles/fireball-impact-2.png
      halo_x,halo_y=-15,-10
    [/frame]
    [frame]
      begin=80
      end=120
      image="units/ancient_dwarves/sm-die1.png"
      halo=projectiles/fireball-impact-3.png
      halo_x,halo_y=-15,-10
    [/frame]
    [frame]
      begin=120
      end=160
      image="units/ancient_dwarves/sm-die1.png"
      halo=projectiles/fireball-impact-4.png
      halo_x,halo_y=-15,-10
    [/frame]
    [frame]
      begin=160
      end=200
      image="units/ancient_dwarves/sm-die1.png"
      halo=projectiles/fireball-impact-5.png
      halo_x,halo_y=-15,-10
    [/frame]
    [frame]
      begin=200
      end=240
      image="units/ancient_dwarves/sm-die2.png"
      halo=projectiles/fireball-impact-3.png
      halo_x,halo_y=15,10
      sound=explosion.ogg
    [/frame]
    [frame]
      begin=240
      end=280
      image="units/ancient_dwarves/sm-die2.png"
      halo=projectiles/fireball-impact-4.png
      halo_x,halo_y=15,10
    [/frame]
    [frame]
      begin=280
      end=320
      image="units/ancient_dwarves/sm-die2.png"
      halo=projectiles/fireball-impact-5.png
      halo_x,halo_y=15,10
    [/frame]
    [frame]
      begin=320
      end=360
      image="units/ancient_dwarves/sm-die2.png"
      halo=projectiles/fireball-impact-6.png
      halo_x,halo_y=15,10
    [/frame]
    [frame]
      begin=360
      end=400
      image="units/ancient_dwarves/sm-die2.png"
      halo=projectiles/fireball-impact-7.png
      halo_x,halo_y=15,10
    [/frame]
    [frame]
      begin=400
      end=440
      image="units/ancient_dwarves/sm-die3.png"
      halo=projectiles/fireball-impact-5.png
      halo_x,halo_y=0,0
      sound=explosion.ogg
    [/frame]
    [frame]
      begin=440
      end=480
      image="units/ancient_dwarves/sm-die3.png"
      halo=projectiles/fireball-impact-6.png
      halo_x,halo_y=0,0
    [/frame]
    [frame]
      begin=480
      end=520
      image="units/ancient_dwarves/sm-die3.png"
      halo=projectiles/fireball-impact-7.png
      halo_x,halo_y=0,0
    [/frame]
    [frame]
      begin=520
      end=560
      image="units/ancient_dwarves/sm-die3.png"
      halo=projectiles/fireball-impact-8.png
      halo_x,halo_y=0,0
    [/frame]
    [frame]
      begin=560
      end=600
      image="units/ancient_dwarves/sm-die3.png"
      halo=projectiles/fireball-impact-9.png
      halo_x,halo_y=0,0
    [/frame]
    [frame]
      begin=600
      end=640
      image="units/ancient_dwarves/sm-die4.png"
      halo=projectiles/fireball-impact-3.png
      halo_x,halo_y=10,0
      sound=explosion.ogg
    [/frame]
    [frame]
      begin=640
      end=680
      image="units/ancient_dwarves/sm-die4.png"
      halo=projectiles/fireball-impact-4.png
      halo_x,halo_y=10,0
    [/frame]
    [frame]
      begin=680
      end=720
      image="units/ancient_dwarves/sm-die4.png"
      halo=projectiles/fireball-impact-5.png
      halo_x,halo_y=10,0
    [/frame]
    [frame]
      begin=720
      end=760
      image="units/ancient_dwarves/sm-die4.png"
      halo=projectiles/fireball-impact-6.png
      halo_x,halo_y=10,0
    [/frame]
    [frame]
      begin=760
      end=800
      image="units/ancient_dwarves/sm-die4.png"
      halo=projectiles/fireball-impact-7.png
      halo_x,halo_y=10,0
    [/frame]
    [frame]
      begin=800
      end=840
      image="units/ancient_dwarves/sm-die5.png"
      halo=projectiles/fireball-impact-8.png
      halo_x,halo_y=10,0
    [/frame]
    [frame]
      begin=840
      end=880
      image="units/ancient_dwarves/sm-die5.png"
      halo=projectiles/fireball-impact-9.png
      halo_x,halo_y=10,0
    [/frame]
    [frame]
      begin=880
      end=920
      image="units/ancient_dwarves/sm-die5.png"
      halo=projectiles/fireball-impact-10.png
      halo_x,halo_y=10,0
    [/frame]
    [frame]
      begin=920
      end=960
      image="units/ancient_dwarves/sm-die5.png"
      halo=projectiles/fireball-impact-11.png
      halo_x,halo_y=10,0
    [/frame]
    [frame]
      begin=960
      end=1000
      image="units/ancient_dwarves/sm-die5.png"
      halo=projectiles/fireball-impact-12.png
      halo_x,halo_y=10,0
    [/frame]
    [frame]
      begin=1000
      end=1040
      image="units/ancient_dwarves/sm-die6.png"
      halo=projectiles/fireball-impact-13.png
      halo_x,halo_y=10,0
    [/frame]
    [frame]
      begin=1040
      end=1080
      image="units/ancient_dwarves/sm-die6.png"
      halo=projectiles/fireball-impact-14.png
      halo_x,halo_y=10,0
    [/frame]
    [frame]
      begin=1080
      end=1120
      image="units/ancient_dwarves/sm-die6.png"
      halo=projectiles/fireball-impact-15.png
      halo_x,halo_y=10,0
    [/frame]
    [frame]
      begin=1120
      end=1160
      image="units/ancient_dwarves/sm-die6.png"
      halo=projectiles/fireball-impact-16.png
      halo_x,halo_y=10,0
    [/frame]
    [frame]
      begin=1160
      end=1200
      image="units/ancient_dwarves/sm-die6.png"
    [/frame]
  [/death]
  [standing_anim]
    direction=s,se,sw
    start_time=0
    [frame]
      duration=100
      image="units/ancient_dwarves/sm2.png"
      halo=halo/steam2.png
    [/frame]
    [frame]
      duration=100
      image="units/ancient_dwarves/sm3.png"
      halo=halo/steam3.png
    [/frame]
    [frame]
      duration=100
      image="units/ancient_dwarves/sm4.png"
      halo=halo/steam4.png
    [/frame]
    [frame]
      duration=100
      image="units/ancient_dwarves/sm5.png"
      halo=halo/steam5.png
    [/frame]
  [/standing_anim]
  [standing_anim]
    direction=n,ne,nw
    start_time=0
    [frame]
      duration=100
      image="units/ancient_dwarves/sm-ne2.png"
      halo=halo/steam-ne2.png
    [/frame]
    [frame]
      duration=100
      image="units/ancient_dwarves/sm-ne3.png"
      halo=halo/steam-ne3.png
    [/frame]
    [frame]
      duration=100
      image="units/ancient_dwarves/sm-ne4.png"
      halo=halo/steam-ne4.png
    [/frame]
    [frame]
      duration=100
      image="units/ancient_dwarves/sm-ne5.png"
      halo=halo/steam-ne5.png
    [/frame]
  [/standing_anim]
  [defense]
    mountains=40
    hills=50
  [/defense]
  [abilities]
    {ABILITY_SXC_STEADFAST}
  [/abilities]
  [attack]
    name=spear
    description=_"trample"
    icon=attacks/blank-attack.png
    type=impact
    range=melee
    damage=8
    number=2
  [/attack]
  #{DEFENSE_ANIM "units/ancient_dwarves/sm-defend-2.png" "units/ancient_dwarves/sm-defend-1.png" {SOUND_LIST:DWARF_HIT} }
  [attack_anim]
    [filter_attack]
      name=spear
    [/filter_attack]
    [frame]
      begin=-200
      end=-150
      image="units/ancient_dwarves/sm.png"
    [/frame]
    [frame]
      begin=-150
      end=-100
      image="units/ancient_dwarves/sm.png"
    [/frame]
    [if]
      hits=yes
      [frame]
        begin=-100
        end=50
        image="units/ancient_dwarves/sm.png"
        sound=mace.wav
      [/frame]
    [/if]
    [else]
      hits=no
      [frame]
        begin=-100
        end=50
        image="units/ancient_dwarves/sm.png"
        sound={SOUND_LIST:MISS}
      [/frame]
    [/else]
    [frame]
      begin=50
      end=75
      image="units/ancient_dwarves/sm.png"
    [/frame]
    [frame]
      begin=75
      end=150
      image="units/ancient_dwarves/sm.png"
    [/frame]
  [/attack_anim]
[/unit_type]
